@import "tailwindcss";
@import "flowbite/src/themes/default";

<<<<<<< HEAD
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";

.datepicker-picker,
.datepicker-picker button {
  background-color: var(--color-stone-500) !important;
}

.datepicker-picker span:hover {
  background-color: var(--color-stone-300) !important;
  color: var(--color-stone-900) !important;
=======
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container input {
  width: 100% !important;
  outline: none;
>>>>>>> fixBugs
}
